doctype html 
html(land="ko")
    head
        title #{pageTitle === undefined ? "noName" : pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        header 
            h1=pageTitle
            nav 
                ul 
                    li 
                        a(href="/") HOME
                        
                    li 
                        a(href="/search") SEARCH
                    li 
                        a(href="/videos/upload") Upload Video 
                    if loggedIn
                        li 
                            a(href="my-profile") #{loggedInUser.name}'s profile
                        li 
                            a(href="/logout") LOG OUT
                    else
                        li 
                            a(href="/join") JOIN
                        li 
                            a(href="/login") LOGIN
        main
            block content
    include partials/footer