extends ../base.pug

block content 
    if errorMassage
        span=errorMassage
    form(method="POST")
        input(placeholder="Old Password", type="password", name="oldPassword")
        input(placeholder="New Password", type="password", name="newPassword")
        input(placeholder="New Password Confirmation", type="password", name="newPasswordConfirmation")
        INPUT(value="Change Password" type="submit")